@import "colors.css";

* {
  /*border: none;*/
  border-radius: 0;
  min-height: 0;
  font-family:
    Material Design Icons,
    JetBrainsMono Nerd Font;
  font-size: 10px;
}

window#waybar {
  /*border: 2px solid @secondary;*/
  /*border-radius: 20px;*/
  background-color: @surface;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 3px 3px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-color: @primary;
  border-radius: 24px;
  background-color: @surface_container;
  color: @surface_container;
}

/* Start of the bar */

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 15px 6px 6px;
  margin: 3px 3px;
  border-radius: 4px;
  background-color: @surface_container;
  color: @background;
}

#workspaces button.focused {
  color: @primary;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @primary;
}

#workspaces button.urgent {
  color: @error;
  animation-name: workspace-blink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  /*  background-color: rgba(66,66,66,0.5); */ /* transparent */
  background-color: transparent;
}

/* Middle */

#window {
  margin: 6px 0px;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: @surface_container;
  color: @on_surface;
  font-family: JetBrainsMono Nerd Font;
}

/*#memory,*/
/*#custom-swaync,*/
/*#custom-notification,*/
#wireplumber,
#pulseaudio {
  color: @error;
  border-radius: 1rem 0px 0px 1rem;
  margin: 6px 0;
  padding: 10px 10px;
  background-color: @surface_container;
}

#network,
#idle_inhibitor,
#battery,
#backlight,
#custom-notification,
#custom-swaync,
#custom-lock,
#tray,
#clock {
  padding: 0.5rem 1rem;
  margin: 6px 0;
  background-color: @surface_container;
  color: @on_surface;
}

#custom-power {
  border-radius: 0rem 1rem 1rem 0rem;
  margin: 6px 10px 6px 0px;
  padding: 6px 16px;
  background-color: @surface_container;
  color: @on_surface;
}

#custom-lock {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
}

#idle_inhibitor {
  color: @primary;
  font-family: JetBrainsMono Nerd Font;
}

#custom-music {
  color: @tertiary;
}

@keyframes workspace-blink {
  to {
    color: @error;
  }
}

@keyframes battery-blink {
  to {
    background-color: @error;
    color: @on-error;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @error;
  color: @on-error;
  animation-name: battery-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @tertiary-fixed;
}

#backlight {
  background-color: @secondary;
}

#custom-power {
  color: @error;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @surface;
}

tooltip label {
  padding: 5px;
  background-color: @surface;
}
